@media all and (max-width: 1280px) {
    .container {
        width: 900px;
    }

    .big__photo {
        width: 400px;
        height: 400px;
        background-size: contain;
        margin-left: 14px;
        margin-top: 18px;
        margin-bottom: 10px;
    }

    .gallery ul {
        display: none;
    }

    .gallery .gallery__mobile {
        display: block;
        width: 415px;
        margin-left: 14px;
    }

    .gallery ul.gallery__mobile li {
        float: left;
    }

    .gallery__mobile li img {
        width: 100%;
    }

    .gallery ul li {
        width: 195px;
        height: 200px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: 0;
    }
    .gallery ul li:first-child{
        border: none;
        padding-top: 0;
    }
    .description__text {
        margin-left: 50px;
        margin-top: 16px;
    }
    .breadcrumbs{
        margin-bottom: 35px;
    }
    .similar__items ul.item > li{
        width: 273.5px;
    }
    .similar__items h6{
        padding-left: 22px;
    }
    .similar__items ul.item.item__small > li {
        width: 214px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-right: 15px;
    }
    .similar__items h5 {
        float: left;
        margin-right: 26px;
        padding-left: 24px;
        margin-top: 8px;
    }
    .help {
        margin-right: 70px;
    }
    .support, .mobile__device {
        margin-right: 60px;
    }
    .similar__items .item{
        width: 901px;
    }
    .similar__items .item.item__small{
        width: 901px;
    }
    .similar__items ul.item.item__small > li:last-child{
        margin-right: 0;
    }
}

@media all and (max-width: 930px) {
    .container{
        width: 560px;
    }
    .logo{
        float: none;
        text-align: center;
    }
    .header ul{
        float: none;
    }
    .header ul li{
        margin-left: 48px;
    }
    .menu__left {
        float: none;
        width: 430px;
        margin: 0 auto;
    }
    .social, .search{
        display: none;
    }
    .big__photo{
        width: 530px;
        height: 530px;
    }
    .gallery__mobile{
        float: none;
    }
    .gallery .gallery__mobile{
        width: 100%;
        margin-left: 0;
        padding-left: 13px;
    }
    .gallery ul li{
        width: 125px;
        height: auto;
    }
    .description__text{
        float: none;
    }
    .gallery{
        float: none;
        border-bottom: 1px solid #b3b3b3;
    }
    .similar__items .item{
        width: 100%;
    }
    .similar__items ul.item > li{
        width: 270px;
        margin-right: 20px;
    }
    .similar__items ul.item > li:nth-child(2),
    .similar__items ul.item.item__small > li:nth-child(2){
        margin-right: 0;
        margin-bottom: 20px;
    }
    .similar__items ul.item > li:nth-child(3){
        float: none;
        margin-left: auto;
        margin-right: auto;
        clear: both;
    }
    .similar__items .item.item__small{
        width: 100%;
    }
    .similar__items ul.item.item__small > li{
        width: 270px;
        margin-right: 20px;
    }
    .similar__items ul.item.item__small > li:nth-child(3){
        margin-left: 0;
        height: auto;
        float: left;
    }
    .similar__items ul.item.item__small > li:nth-child(4){
        float: right;
    }
    .reviews h3{
        text-align: left;
    }
    .single__review .date{
        width: 100px;
    }
    .review__content{
        margin-left: 115px;
    }
    .social__network {
        float: right;
        margin-right: 191px;
    }
}

@media all and (max-width: 590px){
    .container{
        width: 300px;
    }
    .header ul,
    .menu__left,
    .menu__bottom,
    .breadcrumbs{
        display: none;
    }
    .big__photo {
        width: 100%;
        height: 300px;
        margin-left: 0;
    }
    .gallery .gallery__mobile{
        padding-left: 0;
    }
    .gallery ul li{
        width: 65px;
    }
    .description__text{
        width: 100%;
        margin-left: 0;
    }
    .description h1{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .description .light{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .description .light span{
        margin-right: 33px;
    }
    .description h2{
        font-size: 24px;
    }
    .item-logo img{
        width: 80px;
    }
    .item-logo p{
        display: none;
    }
    .similar__items ul.item > li{
        width: 156px;
        height: 206px;
        margin-right: 16px;
    }
    .similar__items .item{
        width: 510px;
    }

    .similar__items ul.item > li > div:nth-child(2) img{
        width: 70% ;
    }
    .similar__items ul.item > li:nth-child(3){
        float: left;
        clear: none;
    }
    .similar__items > .container > div{
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .similar__items ul.item > li div:nth-child(2){
        margin-bottom: 10px;
    }
    .similar__items h6{
        font-size: 12px;
        padding-left: 10px;
    }
    .similar__items ul.item > li:nth-child(2){
        margin-right: 16px;
    }
    .similar__items h4{
        margin-top: 20px;
    }
    .similar__items ul.item.item__small > li{
        width: 100%;
        margin-bottom: 10px;
    }
    .similar__items ul.item.item__small > li:nth-child(2){
        margin-bottom: 10px;
    }
    .similar__items{
        padding-bottom: 40px;
    }
    .footer{
        display: none;
    }
    .reviews{
        padding-bottom: 0;
    }
    .single__review:last-child{
        margin-bottom: 0;
    }
    .reviews h3{
        text-align: center;
    }
    .reviews h3 span{
        display: block;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .single__review .date{
        width: 100%;
        float: none;
    }
    .single__review .stars {
        margin-top: -14px;
    }
    .review__content {
        margin-left: 0;
        margin-right: 0;
    }
    .review__content .user__title{
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .review__content .user__content{
        font-size: 12px;
    }
}