*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

/*header*/
.header{
    background:#1B1B1C;
    padding-bottom: 12px;
}
.header .container{
    padding-top: 0.1px;
}

.logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #C4C4C4;
    float: left;
    margin-top: 12px;
}
.logo span{
    color: #d01346;
    text-transform: uppercase;
}

.header ul{
    float: right;
}
.header ul li{
    margin-left: 36px;
    float: left;
    color: #B4B4B4;
    margin-top: 16px;
}
.header ul li:first-child{
    margin-top: 17px;
}
.header ul li a:hover{
    color:#fff;
}

/*.menu__top*/
.menu__top{

}
.menu__left{
    float: left;
}
.menu__left li{
    float: left;

    padding: 24px 12px;
    height: 63px;
}
.menu__left li:hover{
    background: #F2F2F2;
}
.menu__left li:last-child{
    color: #D01345;
}
.menu__left a{
    font-weight: 700;
    line-height: 19px;
    color: #1B1B1C;
}
.social{
    float: right;
}
.social li{
    float: left;
    margin-left: 28px;
    padding-top: 22px;
}
.search{
    width: 251px;
    height: 39px;
    opacity: 0.3;
    border-radius: 50px;
    float: right;
    margin-top: 12px;
    padding-top: 11px;
    padding-left: 16px;
    background: url("../img/search.png") no-repeat 221px 11px #C4C4C4;
}


/*menu__bottom*/
.menu__bottom{
    border-top: 1px solid #C4C4C4;
}

.menu__bottom li{
    float: left;
    margin-right: 32px;
    margin-top: 16px;
}

.menu__bottom a{
    font-weight: 500;
    line-height: 19px;
    color: #878787;
}
.menu__bottom a.active{
    color: #1B1B1C;
}

/*breadcrumbs*/
.breadcrumbs{
    margin-top: 32px;
    margin-bottom: 90px;
}
.breadcrumbs li{
    float: left;
}
.breadcrumbs li:after{
    content: '/';
    font-weight: 500;
    line-height: 19px;
    color: #878787;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
.breadcrumbs li:last-child:after{
    content: '';
}
.breadcrumbs li a{
    font-weight: 500;
    line-height: 19px;
    color: #878787;
}

/*description*/
.description{

}
.gallery{
    padding-top: 0.1px;
}
.gallery ul{
    float: left;
}
.gallery ul li{
    width: 166px;
    height: 166px;
    text-align: center;
    padding-top: 41px;
}
.gallery ul li:first-child{
    border: 1px solid #C4C4C4;
    padding-top: 14px;
}
.big__photo{
    width: 500px;
    height: 500px;
    background: url("../img/slide_b.png") center no-repeat;
    margin-left: 191px;
    margin-top: 48px;
}











