@import "variables";

@mixin btn($w: 205px, $bg: $green){
  width: $w;
  height: 53px;
  background: $bg;
  border-radius: 42px;
  font-size: $fz18;
  line-height: 25px;
  color: $white;
  border: none;
}

@mixin bgImage($url){
  background: url($imagePath + $url) center no-repeat;
}