@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: $reg;
  font-size: $fz;
}

.container {
  width: $xl;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
p, ul{
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: $ex-bold;
  font-size: $fz33;
  line-height: 45px;
  text-align: center;
  color: $dark;
}

li {
  list-style-type: none;
}

ul{
  padding-left: 0;
}

//header
.header {
  background-color: $green;
  height: 81px;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;

      li {
        margin-right: 40px;

        a {
          font-size: $fz18;
          line-height: 25px;
          color: $text-light;
        }
      }
    }

    .auth {
      display: flex;

      p {
        font-weight: $bold;
        font-size: $fz;
        line-height: 22px;
        color: $white;

        &:first-child {
          padding-right: 15px;
          border-right: 1px solid $white;
          margin-right: 15px;
        }
      }

      img {
        margin-left: 24px;
      }
    }
  }
}

//logo
.logo {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 169px;

    .search {
      display: flex;

      input {
        width: 341px;
        height: 48px;
        background: $input-bg;
        border: 1px solid $light-gray;
        border-radius: 47px;
        padding-left: 43px;
        line-height: 22px;
        margin-right: 53px;
        color: $input;

      }

      div {
        display: flex;
        flex-direction: column;

        span{
          &:first-child{
            position: relative;
            padding-left: 23px;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
            &:before{
              content: "";
              width: 20px;
              height: 20px;
              @include bgImage("phone-black.svg");
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}

//menu
.menu {
  margin-bottom: 55px;

  .container {

    ul {
      display: flex;
      position: relative;
      width: 740px;
      padding-bottom: 15px;

      &:before {
        content: '';
        width: 44px;
        height: 4px;
        background: $green;
        border-radius: 26px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
      }

      &:after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: $input-bg;
        border-radius: 26px;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      li {
        margin-right: 50px;

        a {
          font-weight: $bold;
          font-size: $fz21;
          line-height: 29px;
          color: $gray;

        }
      }
    }
  }
}

//slider
.slider {

  .carousel-item{
    &:first-child{
      @include bgImage("slider-bg.jpg");
      h1{
        color: $dark;
      }
      p{
        color: $text;
      }
    }
    &:nth-child(2){
      @include bgImage("car1.jpg");

      h1, p{
        color: $white;
      }
    }
    &:nth-child(3){
      @include bgImage("car2.jpg");

      h1, p{
        color: $white;
      }
    }

    background-size: cover;
    height: 516px;

    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 183px;

      h1 {
        font-weight: $ex-bold;
        font-size: $fz40;
        line-height: 54px;
        margin-bottom: 23px;
      }

      p {
        font-size: $fz18;
        line-height: 25px;
        margin-bottom: 44px;
      }

      .btn {
        @include btn(305px);
      }
    }
  }

  .carousel-control-prev-icon,
  {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23696969'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
  }
  .carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23696969'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .carousel-indicators [data-bs-target]{
    background-color: #dbdbdb;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;

    &.active{
      background-color: #c4c4c4;
      width: 14px;
      height: 14px;
    }
  }
}

//catalog
.catalog {
  padding-top: 142px;

  .container {

    h2 {
      margin-bottom: 37px;
    }

    ul {
      display: flex;
      flex-flow: wrap;

      li {
        height: 323px;
        flex-basis: 285px;
        font-weight: $bold;
        font-size: $fz27;
        line-height: 37px;
        color: $dark;
        padding-top: 29px;
        padding-left: 46px;

        @for $item from 1 through 5 {
          &:nth-child(#{$item}) {
            @include bgImage("cat#{$item}.jpg");
            background-size: 100% 100%;
          }
        }

        &:nth-child(1) {
          flex-basis: 793px;
        }

        &:nth-child(2) {
          flex-basis: 387px;
        }

        &:nth-child(3) {
          flex-basis: 387px;
        }

        &:nth-child(4) {
          flex-basis: 488px;
        }

        &:nth-child(5) {
          flex-basis: 285px;
        }

        &:last-child {
          margin-right: 0;
          box-shadow: 1px 2px 16px 2px rgba(0, 0, 0, 0.08);
          border-radius: 24px;
          height: 271px;
          margin-top: 26px;
        }
      }
    }
  }
}

//best-items and sale-items
.best-items, .sale-items {
  .container {

    position: relative;

    h2 {
      margin-top: 229px;
      margin-bottom: 24px;
    }



    #addItem{
      position: absolute;
      top: 0;
      right: 0;
      font-size: $fz40;
      font-weight: $bold;
      cursor: pointer;
    }

    #shadow{
      position: fixed;
      width: 100vw;
      height: 0;
      background: rgba(0,0,0,0.8);
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transition: 0.5s;
      overflow: hidden;

      #close{
        color: $white;
        font-size: $fz40;
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
      }

      #addItemForm{
        background-color: $white;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 50vh;
        overflow-y: auto;
        label{
          flex-basis: 300px;
        }
      }

    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;

      li {
        width: 285px;
        height: 555px;
        box-shadow: -10px -10px 20px rgba(245, 245, 245, 0.7), 10px 10px 20px rgba(245, 245, 245, 0.7);
        border-radius: 20px;
        position: relative;
        padding-top: 76px;
        padding-left: 23px;
        padding-right: 25px;
        margin-bottom: 20px;

        .rating {
          position: absolute;
          padding-left: 32px;
          padding-top: 3px;
          font-size: $fz18;
          line-height: 25px;
          top: 25px;
          left: 16px;
          color: rgba(153, 153, 153, 0.6);

          &:before {
            content: "";
            width: 26px;
            height: 26px;
            position: absolute;
            top: 0;
            left: 0;
            @include bgImage("star.svg");
          }
        }

        .like {
          width: 29px;
          height: 26px;
          @include bgImage("like.svg");
          position: absolute;
          right: 16px;
          top: 25px;


          &.active {
            @include bgImage("isLike.svg");
          }
        }

        .img {
          width: 162px;
          height: 153px;
          margin: 0 auto 40px;
          @include bgImage("best1.png");
        }

         h3 {
          font-weight: $bold;
          font-size: $fz21;
          line-height: 29px;
          color: $dark;
          margin-bottom: 16px;
        }

        .title {
          font-weight: $bold;
          line-height: 22px;
          color: $text;
          margin-bottom: 3px;
        }

        .descr {
          font-size: $fzs;
          line-height: 19px;
          color: $text;
          margin-bottom: 15px;
        }

        .price {
          font-size: $fz18;
          line-height: 25px;
          color: $dark;

          span {
            font-weight: $bold;
            font-size: $fz21;
            line-height: 29px;
            color: $dark;
            &.disable{
              text-decoration: line-through;
              color: $text;
              font-size: $fz18;
            }

            &.isStock{
              color: $red;
              font-size: $fz21;
              margin-left: 8px;

              &.hide{
                display: none;
              }
            }
          }
        }

        .btn{
          margin-top: 27px;
          @include btn(239px);
        }
      }
    }
  }
}

.sale-items{
  padding-bottom: 281px;
  .container{
    h2{
      margin-top: 130px;
    }
  }

}

//subscribe
.subscribe{
  height: 415px;
  padding-top: 90px;
  @include bgImage("subscribe.jpg");
  background-size: 100% 541px;
  .container{
    padding-left: 110px;

    h2{
      text-align: left;
      font-weight: $ex-bold;
      font-size: $fz33 - 3;
      line-height: 41px;
      color: $dark;
      margin-bottom: 129px;
    }

    .form-wrap{
      width: 434px;
      height: 53px;
      position: relative;

      input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $white;
        padding-left: 40px;
        border: none;
        border-radius: 42px;
        outline: none;
        line-height: 25px;
        font-size: $fz18;

        &::placeholder{
          font-size: $fz18;
          color: #DBDBDB;
        }
      }

      .btn{
        @include btn(205px);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }
    }
  }
}

//footer
footer{
  padding-top: 53px;
  padding-bottom: 53px;
  background-color: $footer-color;
  color: $white;

  .container{
    display: flex;
    justify-content: space-between;

    .social_and_logo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul{
        display: flex;
        justify-content: space-between;

        li{
          width: 40px;
          height: 40px;
          margin-right: 14px;
          @for $number from 1 through 4{
            &:nth-child(#{$number}){
              @include bgImage("soc#{$number}.svg")
            }
          }
        }
      }
    }

    ul{
      li{
        font-size: $fz18;
        line-height: 167.7%;
        color: $text-light;

        &:first-child{
          font-weight: $bold;
          font-size: $fz18;
          line-height: 175.68%;
          color: $white;
        }
      }
    }

    .contacts{
      .phone_and_schedule{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;

        p{
          color: $text-light;
          line-height: 175.68%;
          &:first-child{
            position: relative;
            padding-left: 23px;
            color: $white;
            &:before{
              content: "";
              width: 20px;
              height: 20px;
              @include bgImage("phone-white.svg");
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }

      .address{
        p{
          font-weight: $bold;
          font-size: $fz18;
          line-height: 175.68%;
        }

        address{
          font-size: $fz18;
          line-height: 167.7%;
          color: $text-light;
        }
      }
    }
  }
}


























































