//colors
$green: #669966;
$gray: #636363;
$light-gray: #EAEAEA;
$dark: #3F3F3F;
$text: #999999;
$text-light: #DFDFDF;
$white: #fff;
$red: #E44C50;
$input: #AEAEAE;
$input-bg: #F3F3F3;
$footer-color: #4f6c4f;


//font-size
$fz: 16px;
$fzs: $fz - 2;
$fz18: $fz + 2;
$fz21: $fz + 5;
$fz27: $fz + 11;
$fz33: $fz + 17;
$fz40: $fz + 24;

//font-weight
$reg: 400;
$bold: 600;
$ex-bold: 700;

//containers
$xl: 1200px;

//imagePath
$imagePath: "../img/";




















